/* Creating a webfont css to be stored on the server */
/* Font Name: Cooper Hewitt; */
/* Open Source,  https://www.cooperhewitt.org/open-source-at-cooper-hewitt/cooper-hewitt-the-typeface-by-chester-jenkins/*/
/*
	Common weight name mapping
The 100 to 900 values roughly correspond to the following common weight names:
100 - Thin (Hairline)
200 - Extra Light (Ultra Light) (not in Cooper Hewitt)
300 - Light
400 - Normal (called Book in Cooper Hewitt)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
 */

/************************* Thin/Hairline 100  ****************************/
/* CooperHewitt-Thin-100 */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 100;
	src: url('./CooperHewitt/CooperHewitt-Thin.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Hairline'), local('CooperHewitt-Hairline'), local('CooperHewitt Thin'), local('CooperHewitt-Thin'),
			 url('./CooperHewitt/CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Thin.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Thin.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Thin-100italic */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 100;
	src: url('./CooperHewitt/CooperHewitt-ThinItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Hairline Italic'), local('CooperHewitt-HairlineItalic'),
			 local('CooperHewitt Thin Italic'), local('CooperHewitt-ThinItalic'),
			 url('./CooperHewitt/CooperHewitt-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-ThinItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-ThinItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}
/* 200 to 300 */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 200;
	src: url('./CooperHewitt/CooperHewitt-Light.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Light'), local('CooperHewitt-Light'),
			 url('./CooperHewitt/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Light.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Light.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Light.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Light-300italic */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 200;
	src: url('./CooperHewitt/CooperHewitt-LightItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Light Italic'), local('CooperHewitt-LightItalic'),
			 url('./CooperHewitt/CooperHewitt-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-LightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-LightItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}



/************************* Light 300  ****************************/

/* CooperHewitt-Light-300 */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 300;
	src: url('./CooperHewitt/CooperHewitt-Light.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Light'), local('CooperHewitt-Light'),
			 url('./CooperHewitt/CooperHewitt-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Light.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Light.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Light.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Light-300italic */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 300;
	src: url('./CooperHewitt/CooperHewitt-LightItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Light Italic'), local('CooperHewitt-LightItalic'),
			 url('./CooperHewitt/CooperHewitt-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-LightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-LightItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/************************* Book/Regular/Normal 400  ****************************/

/* CooperHewitt-Book-400 Regular, Normal*/
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 400;
	src: url('./CooperHewitt/CooperHewitt-Book.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Book'), local('CooperHewitt-Book'),
			 local('CooperHewitt Normal'), local('CooperHewitt-Normal'),
			 local('CooperHewitt Regular'), local('CooperHewitt-Regular'),
			 url('./CooperHewitt/CooperHewitt-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Book.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Book.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Book.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Book-400italic regular, normal */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 400;
	src: url('./CooperHewitt/CooperHewitt-BookItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Book Italic'), local('CooperHewitt-BookItalic'),
			 local('CooperHewitt Normal Italic'), local('CooperHewitt-NormalItalic'),
			 local('CooperHewitt Regular Italic'), local('CooperHewitt-RegularItalic'),
			 url('./CooperHewitt/CooperHewitt-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-BookItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-BookItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/************************* Medium 500  ****************************/
/* CooperHewitt-Medium 500*/
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 500;
	src: url('./CooperHewitt/CooperHewitt-Medium.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Medium'), local('CooperHewitt-Medium'),
			 url('./CooperHewitt/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Medium.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Medium.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Book-400italic regular, normal */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 500;
	src: url('./CooperHewitt/CooperHewitt-MediumItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Medium Italic'), local('CooperHewitt-MediumItalic'),
			 url('./CooperHewitt/CooperHewitt-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-MediumItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-MediumItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/************************* 600 - Semi Bold (Demi Bold) ****************************/
/* CooperHewitt-Semibold-600 demibold*/
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 600;
	src: url('./CooperHewitt/CooperHewitt-Semibold.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Semibold'), local('CooperHewitt-Semibold'),
			 local('CooperHewitt Demibold'), local('CooperHewitt-Demibold'),
			 url('./CooperHewitt/CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Semibold.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Semibold.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Semibold-600italic demibold */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 600;
	src: url('./CooperHewitt/CooperHewitt-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Semibold Italic'), local('CooperHewitt-SemiboldItalic'),
			 local('CooperHewitt Demibold Italic'), local('CooperHewitt-DemiboldItalic'),
			 url('./CooperHewitt/CooperHewitt-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-SemiboldItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/************************* 700 - Bold  ****************************/
/* CooperHewitt-bold-700 */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 700;
	src: url('./CooperHewitt/CooperHewitt-Bold.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Bold'), local('CooperHewitt-Bold'),
			 url('./CooperHewitt/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Bold.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Bold.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-bold-700italic */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 700;
	src: url('./CooperHewitt/CooperHewitt-BoldItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Bold Italic'), local('CooperHewitt-BoldItalic'),
			 url('./CooperHewitt/CooperHewitt-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-BoldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-BoldItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/************************* 900 - Black (Heavy)  ****************************/
/* CooperHewitt-Heavy-900 Black*/
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: normal;
	font-weight: 900;
	src: url('./CooperHewitt/CooperHewitt-Heavy.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Heavy'), local('CooperHewitt-Heavy'),
			 local('CooperHewitt Black'), local('CooperHewitt-Black'),
			 url('./CooperHewitt/CooperHewitt-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-Heavy.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-Heavy.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

/* CooperHewitt-Heavy-900italic
black */
@font-face {
	font-family: 'Cooper Hewitt';
	font-style: italic;
	font-weight: 900;
	src: url('./CooperHewitt/CooperHewitt-HeavyItalic.eot'); /* IE9 Compat Modes */
	src: local('CooperHewitt Heavy Italic'), local('CooperHewitt-HeavyItalic'),
			 local('CooperHewitt Black Italic'), local('CooperHewitt-BlackItalic'),
			 url('./CooperHewitt/CooperHewitt-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./CooperHewitt/CooperHewitt-HeavyItalic.woff') format('woff'), /* Modern Browsers */
			 url('./CooperHewitt/CooperHewitt-HeavyItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./CooperHewitt/CooperHewitt-HeavyItalic.svg#CooperHewitt') format('svg'); /* Legacy iOS  */
}

