/* Creating a webfont css to be stored on the server */
/* Font Name: Metropolis by Chris M Simpson */
/* https://github.com/chrismsimpson/Metropolis*/
/*
	Common weight name mapping
The 100 to 900 values roughly correspond to the following common weight names:
100 - Thin (Hairline) yes
200 - Extra Light (Ultra Light) yes
300 - Light yes
400 - Normal Regularyes
500 - Medium yes
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
 */

/************************* Thin/Hairline 100  ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 100;
	src: url('./Metropolis/Metropolis-Thin.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Hairline'), local('Metropolis-Hairline'), local('Metropolis Thin'), local('Metropolis-Thin'),
			 url('./Metropolis/Metropolis-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Thin.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Thin.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Thin.svg#Metropolis') format('svg'); /* Legacy iOS  */
}
@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 100;
	src: url('./Metropolis/Metropolis-ThinItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Hairline Italic'), local('Metropolis-HairlineItalic'),
			 local('Metropolis Thin Italic'), local('Metropolis-ThinItalic'),
			 url('./Metropolis/Metropolis-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-ThinItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-ThinItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* Extra Light 200  ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 200;
	src: url('./Metropolis/Metropolis-ExtraLight.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Extra Light'), local('Metropolis-ExtraLight'),
			 url('./Metropolis/Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-ExtraLight.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-ExtraLight.svg#Metropolis') format('svg'); /* Legacy iOS  */
}
@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 200;
	src: url('./Metropolis/Metropolis-ExtraLightItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Extra Light Italic'), local('Metropolis-ExtraLightItalic'),
			 url('./Metropolis/Metropolis-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-ExtraLightItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* Light 300  ****************************/

@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 300;
	src: url('./Metropolis/Metropolis-Light.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Light'), local('Metropolis-Light'),
			 url('./Metropolis/Metropolis-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Light.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Light.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Light.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Light.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/* Metropolis-Light-300italic */
@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 300;
	src: url('./Metropolis/Metropolis-LightItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Light Italic'), local('Metropolis-LightItalic'),
			 url('./Metropolis/Metropolis-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-LightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-LightItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* Regular/Normal 400  ****************************/

@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 400;
	src: url('./Metropolis/Metropolis-Regular.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Normal'), local('Metropolis-Normal'),
			 local('Metropolis Regular'), local('Metropolis-Regular'),
			 url('./Metropolis/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Regular.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 400;
	src: url('./Metropolis/Metropolis-RegularItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Normal Italic'), local('Metropolis-NormalItalic'),
			 local('Metropolis Regular Italic'), local('Metropolis-RegularItalic'),
			 url('./Metropolis/Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-RegularItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-RegularItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* Medium 500  ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 500;
	src: url('./Metropolis/Metropolis-Medium.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Medium'), local('Metropolis-Medium'),
			 url('./Metropolis/Metropolis-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Medium.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Medium.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 500;
	src: url('./Metropolis/Metropolis-MediumItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Medium Italic'), local('Metropolis-MediumItalic'),
			 url('./Metropolis/Metropolis-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-MediumItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-MediumItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* 600 - Semi Bold (Demi Bold) ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 600;
	src: url('./Metropolis/Metropolis-Semibold.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Semibold'), local('Metropolis-Semibold'),
			 local('Metropolis Demibold'), local('Metropolis-Demibold'),
			 url('./Metropolis/Metropolis-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Semibold.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Semibold.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 600;
	src: url('./Metropolis/Metropolis-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Semibold Italic'), local('Metropolis-SemiboldItalic'),
			 local('Metropolis Demibold Italic'), local('Metropolis-DemiboldItalic'),
			 url('./Metropolis/Metropolis-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-SemiboldItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-SemiboldItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* 700 - Bold  ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 700;
	src: url('./Metropolis/Metropolis-Bold.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Bold'), local('Metropolis-Bold'),
			 url('./Metropolis/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Bold.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Bold.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 700;
	src: url('./Metropolis/Metropolis-BoldItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Bold Italic'), local('Metropolis-BoldItalic'),
			 url('./Metropolis/Metropolis-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-BoldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-BoldItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

/************************* 900 - Black (Heavy)  ****************************/
@font-face {
	font-family: 'Metropolis';
	font-style: normal;
	font-weight: 900;
	src: url('./Metropolis/Metropolis-Black.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Heavy'), local('Metropolis-Heavy'),
			 local('Metropolis Black'), local('Metropolis-Black'),
			 url('./Metropolis/Metropolis-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-Black.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-Black.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-Black.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-Black.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Metropolis';
	font-style: italic;
	font-weight: 900;
	src: url('./Metropolis/Metropolis-BlackItalic.eot'); /* IE9 Compat Modes */
	src: local('Metropolis Heavy Italic'), local('Metropolis-HeavyItalic'),
			 local('Metropolis Black Italic'), local('Metropolis-BlackItalic'),
			 url('./Metropolis/Metropolis-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Metropolis/Metropolis-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Metropolis/Metropolis-BlackItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Metropolis/Metropolis-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Metropolis/Metropolis-BlackItalic.svg#Metropolis') format('svg'); /* Legacy iOS  */
}

