/* Creating a webfont css to be stored on the server */
/* Font Name: Montserrat by Julieta Ulanovsky */
/* https://github.com/chrismsimpson/Montserrat*/
/*
	Common weight name mapping
The 100 to 900 values roughly correspond to the following common weight names:
100 - Thin (Hairline) yes
200 - Extra Light (Ultra Light) yes
300 - Light yes
400 - Normal Regularyes
500 - Medium yes
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
 */

/************************* Thin/Hairline 100  ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	src: url('./Montserrat/Montserrat-Thin.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Hairline'), local('Montserrat-Hairline'), local('Montserrat Thin'), local('Montserrat-Thin'),
			 url('./Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Thin.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Thin.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Thin.svg#Montserrat') format('svg'); /* Legacy iOS  */
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 100;
	src: url('./Montserrat/Montserrat-ThinItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Hairline Italic'), local('Montserrat-HairlineItalic'),
			 local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
			 url('./Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-ThinItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-ThinItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* Extra Light 200  ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	src: url('./Montserrat/Montserrat-ExtraLight.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Extra Light'), local('Montserrat-ExtraLight'),
			 url('./Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-ExtraLight.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-ExtraLight.svg#Montserrat') format('svg'); /* Legacy iOS  */
}
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 200;
	src: url('./Montserrat/Montserrat-ExtraLightItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Extra Light Italic'), local('Montserrat-ExtraLightItalic'),
			 url('./Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-ExtraLightItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* Light 300  ****************************/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('./Montserrat/Montserrat-Light.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light'), local('Montserrat-Light'),
			 url('./Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Light.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Light.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/* Montserrat-Light-300italic */
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 300;
	src: url('./Montserrat/Montserrat-LightItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
			 url('./Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-LightItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-LightItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* Regular/Normal 400  ****************************/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('./Montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Normal'), local('Montserrat-Normal'),
			 local('Montserrat Regular'), local('Montserrat-Regular'),
			 url('./Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Regular.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: url('./Montserrat/Montserrat-RegularItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Normal Italic'), local('Montserrat-NormalItalic'),
			 local('Montserrat Regular Italic'), local('Montserrat-RegularItalic'),
			 url('./Montserrat/Montserrat-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-RegularItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-RegularItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* Medium 500  ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('./Montserrat/Montserrat-Medium.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
			 url('./Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Medium.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Medium.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	src: url('./Montserrat/Montserrat-MediumItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
			 url('./Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-MediumItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-MediumItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* 600 - Semi Bold (Demi Bold) ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('./Montserrat/Montserrat-Semibold.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Semibold'), local('Montserrat-Semibold'),
			 local('Montserrat Demibold'), local('Montserrat-Demibold'),
			 url('./Montserrat/Montserrat-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Semibold.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Semibold.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	src: url('./Montserrat/Montserrat-SemiboldItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Semibold Italic'), local('Montserrat-SemiboldItalic'),
			 local('Montserrat Demibold Italic'), local('Montserrat-DemiboldItalic'),
			 url('./Montserrat/Montserrat-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-SemiboldItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-SemiboldItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* 700 - Bold  ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('./Montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
			 url('./Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Bold.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	src: url('./Montserrat/Montserrat-BoldItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
			 url('./Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-BoldItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-BoldItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

/************************* 900 - Black (Heavy)  ****************************/
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	src: url('./Montserrat/Montserrat-Black.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Heavy'), local('Montserrat-Heavy'),
			 local('Montserrat Black'), local('Montserrat-Black'),
			 url('./Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-Black.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-Black.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-Black.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-Black.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 900;
	src: url('./Montserrat/Montserrat-BlackItalic.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Heavy Italic'), local('Montserrat-HeavyItalic'),
			 local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
			 url('./Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('./Montserrat/Montserrat-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
			 url('./Montserrat/Montserrat-BlackItalic.woff') format('woff'), /* Modern Browsers */
			 url('./Montserrat/Montserrat-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('./Montserrat/Montserrat-BlackItalic.svg#Montserrat') format('svg'); /* Legacy iOS  */
}

